

/* 
.caixadanav {
    position: absolute;
    width: 690px;
    height: 653px;
    top: 21px; 
    left: 35px;
    background-color: rgb(38, 38, 38);
    opacity: 60%;
    color: rgb(123, 29, 29);
    z-index: 100;
    flex-direction: row;
    justify-content: space-around;
    font-size: 28px;
    border: 3px solid;
    border-color: white;
    z-index: 3; 
} */


/* 

li {
    
    justify-content: flex-start;
    align-items: flex-start;
    letter-spacing: 3px;
    list-style: none;
    justify-self: flex-end;
    align-self: flex-end;
    margin-top: -6px;
    margin-right: 20px;
} */



/* 
.navbar {
    display: flex;
    flex-direction: row;
    font-size: 28px;
    width: 100%;
    height: 75px;
    align-items: center;
    z-index: 100;
    position: fixed;
    
}


.navbar li {
    margin-top: 32px;
    letter-spacing: 3px;
    list-style: none;
}


.navbar li a {
    padding: 81px;
    padding-top: 44px;
    text-decoration: none;
    color: rgb(255, 255, 255);
} */


/* caixa 2 */


    /* @font-face {
        font-family: 'triforce-zelda';
        src: url(../fontes/triforce/Triforce.ttf);
    } */
    /* font-family:'triforce-zelda', sans-serif; */
    