body {
    background: url(../Imagens/fundolink.jpg);
    background-size: cover;
    background-position-y: -30px;
    /* background-position-x: -20px; */
    background-position: no-repeat;
    /* background-size: 100% 114vh; */
    margin: 0px;
    padding: 0px;
    background-attachment: fixed;
}


#button_finalizar {
    position: relative;
    width: 97px;
    height: 40px;
    margin-left: 40%;
    background-color: rgb(255, 255, 255);
    border-radius: 10%;
    margin-top: 12px;
    opacity: 100%;
    font-style: italic;
    z-index: 1000;
}

#button_finalizar:hover{
    background-color: rgb(102, 114, 152);
    border-radius: 0% ;
    /* margin-left: 39%; */
}


a{
    padding: 59px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 28px;
   
} 


#logo{
    
    height: 185px;
    width: 115px;
    align-items: flex-start;
    padding-left: 1px;
    padding-top: 110px;
    cursor: pointer;
    
}


#botãologo {
   padding-top: -400px;
    all: unset;
}


.nav{
    display: flex;
    margin-top: -142px;
    justify-content: space-between;
    margin-left: 170px;
    font-size: 28px;
    font-family: 'triforce';
    letter-spacing: 3px;
    background-color: none;
    width: 80%;
    height: 40px;
    list-style: none;
}


.logo_aaa{
    margin-top: -108px;
    margin-left: 10px;
}


#logo:hover {
    content: url(../Imagens/logobotaohover.png);  
}


a:hover {
    color: rgb(170, 193, 255);

}

#agora{
   
    color:rgb(255, 255, 255);

}


.container input,.text{
    justify-content: center;
    display: flex;
    /* height: 555px; */
    width: 517px;
    height: 510px;
    background-color: rgb(0, 0, 0);
    opacity: 85%;
    border-radius: 13px;
    color:rgb(255, 255, 255);
}


input, .texto {
    opacity: 100%;
    position: relative;
    z-index: 1000;
    /* background: rgb(255, 255, 255, .2); */
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 410px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    margin-left: 11px;
     
}
input{
    font-size: 17px;
}

h2{
    margin-left: 138px;
    letter-spacing: 5px;
    font-family:sans-serif
}


#bloco{
    background-color: black ;
    opacity: 78%;
    position: relative;
    z-index: 1;
    width: 565px;
    height: 555px;
    margin-left: 330px;
    margin-top: -54px;
    border-radius: 9px;
    border:solid;
    border-color: white ;
}


#input_nome:hover{
    border-radius: 20%;
    border-radius: 63;
    border-color: rgb(149, 177, 255);
}


#input_email:hover{
    border-radius: 20%;
    border-radius: 63;
    border-color: rgb(149, 177, 255);
}


#input_telefone:hover{
    border-radius: 20%;
    border-radius: 63;
    border-color: rgb(149, 177, 255);
}


#input_senha:hover{
    border-radius: 20%;
    border-radius: 63;
    border-color: rgb(149, 177, 255);
}


 #input_confirsenha:hover{
    border-radius: 20%;
    border-radius: 63;
    border-color: rgb(149, 177, 255);
}

#div_mensagem {
    margin-top: 13px;
    color:rgb(255, 251, 121);
    font-size: 21px;
    margin-left: 11px;
   
}