*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'tingle-tuner', sans-serif;
}


.login_header{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5px;
}


.login-form{
    margin-top:-38px;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}


.login_header img{
    align-items: center;
    width: 250px;
}


.login_header h1{
font-size: 1.5em;
color:#27461e;
}


#botao{
    display: flex;
    border-radius: 8px;
    font-size: 1em;
    padding: 15px;
    width: 100%;
    max-width: 300px;
    background-color: rgba(91, 195, 201, 0.889);
    color:rgb(0, 0, 0);
    cursor: pointer;
    justify-content: center; 
}


#botao:hover{
    background-color: #eec628;
    transition: 1.0s;
}

