body {
    background: url(../Imagens/fundologin.webp);
    background-size: cover;
    background-position-y: -30px;
    background-size: 100% 114vh;
    margin: 0px;
    padding: 0px;
    background-attachment: fixed;
    
}


#button_finalizar {
    width: 97px;
    height: 40px;
    margin-left: 40%;
    background-color: rgb(255, 246, 143);
    border-radius: 10%;
    margin-top: 12px;
    opacity: 100%;
}   

#button_finalizar:hover{
    background-color: rgb(115, 139, 212);
    border-radius: 4px;
    /* margin-left: 39%; */
}


a{
    padding: 59px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 28px;
   
} 


#logo{
    
    height: 185px;
    width: 115px;
    align-items: flex-start;
    padding-left: 1px;
    padding-top: 110px;
    cursor: pointer;
    
}


#botãologo {
   padding-top: -400px;
    all: unset;
}


.nav{
    display: flex;
    margin-top: -142px;
    justify-content: space-between;
    margin-left: 169px;
    font-size: 28px;
    font-family: 'triforce';
    letter-spacing: 3px;
    background-color: none;
    width: 80%;
    height: 40px;
    list-style: none;
}


.logo_aaa{
    margin-top: -108px;
    margin-left: 10px;
}


#logo:hover {
    content: url(../Imagens/logobotaohover.png);  
}


a:hover {
    color: rgb(170, 193, 255);

}

#agora{
   
    color: rgb(255, 255, 255);

}


.container input,.text{
    justify-content: center;
    display: flex;
    /* height: 555px; */
    width: 497px;
    height: 510px;
    background-color: rgb(0, 0, 0);
    opacity: 70%;
    border-radius: 13px;
    color:rgb(255, 255, 255);
}


input, .texto {
    opacity: 100%;
    position: relative;
    z-index: 1000;
    /* background: rgb(255, 255, 255, .2); */
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 324px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    margin-left: 11px;
     
}
input{
    font-size: 17px;
}

@font-face {
    font-family: 'minishcap';
    src: url('../fontes/minishcap/minishcap__v10.ttf') format('truetype');
}



h2{
    margin-top: 45px;
    margin-left: 138px;
    letter-spacing: 5px;
    font-family:'minishcap', sans-serif;
}


#bloco{
    background-color: black ;
    opacity: 80%;
    position: relative;
    z-index: 1;
    width: 545px;
    height: 455px;
    margin-left: 330px;
    margin-top: -3px;
    border-radius: 10px;
    border:solid;
    border-color: white ;
}


#email_input:hover{
    border-radius: 20%;
    border-radius: 63;
    border-color: rgb(149, 177, 255);
    
}



#senha_input:hover{
    border-radius: 20%;
    border-radius: 63;
    border-color: rgb(149, 177, 255);
}


#mensagem_erro {
    margin-top: 13px;
    color:rgb(59, 169, 237);
    font-size: 21px;
    margin-left: 11px;
   
}