* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-family: 'MinishCap | v1.0';
    letter-spacing: 3px;
}


body {
    background-image: url(/Imagens/fundo\ .jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.app {
    backdrop-filter: blur(9px);
    width: 90%;
    max-width: 600px;
    margin: 90px auto 0;
    padding: 30px;
    background-color: #761d1d59;
    border-radius: 15px;
}


.app h1 {
    font-weight: 25px;
    color: rgb(0, 0, 0);
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}


.quiz h2 {
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: 600;
}


.btn {
    background-color: white;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3;
}


.btnhover:not([disabled]) {
    background-color: #222;
    color: white;
}


.btn:disabled {
    cursor: no-drop;
}


.correct {
    background-color: rgba(24, 202, 125, 0.689);
}

.incorrect {
    background-color: rgba(209, 62, 62, 0.723);
}

#voltar{
     font-family: 'MinishCap | v1.0';
    letter-spacing: 3px;
    margin: 30px;
    background-color: rgba(91, 195, 201, 0.889);
    width: 100px;
    height: 45px;
    font-size: 20px;
    border-radius: 20px;
    justify-content: center;
}


#next-btn {
  background-color: #0c6b79be;
  color: white;
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: none;
  margin-top: 20px;
  transition: background-color 0.3s ease;
  justify-content: center;
  border-radius: 20px;
  font-family:  'MinishCap | v1.0';
}


#next-btn:hover {
  background-color: #0f69d0;
}

#next-btn:disabled {
  background-color: grey;
  cursor: not-allowed;
}
